* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  scroll-behavior: smooth; }

.wrapper {
  padding: 2rem; }

.arena__img, .arena__table {
  table-layout: fixed;
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
  text-align: center; }

.tile {
  border: 1px solid bisque;
  padding: 1px;
  transform: translateX(0) translateY(0); }

.blank {
  transform: translateX(0) translateY(0); }

.row {
  display: flex;
  width: 100%;
  flex-direction: row; }
  .row .col-1-of-2-uneven-1 {
    flex: 10%; }
  .row .col-1-of-2-uneven-2 {
    flex: 90%; }
  .row .col-1-of-3-uneven-1,
  .row .col-1-of-3-uneven-3 {
    flex: 10%; }
  .row .col-1-of-3-uneven-2 {
    flex: 80%; }

.column {
  display: flex;
  flex-direction: column; }
  .column .row-1-of-2-uneven-1 {
    flex: 10%; }
  .column .row-1-of-2-uneven-2 {
    flex: 80%; }
