.arena{

    &__img,
    &__table{
        table-layout: fixed;
        height: 35rem;
        width: 35rem;
        margin: 12vh auto;
        padding: 1rem;
        border: .4rem solid black;
        text-align: center;
        border-spacing: 0;
    }
}

.tile{
    border: 1px solid bisque;
    transition: all .3s linear;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
}

.blank{
    
}

.zoom-animation{
    scale: 1.05;
    box-shadow: 0 1rem 1rem rgba(black, .15)
}
  