.arena{

    &__img,
    &__table{
        table-layout: fixed;
        height: 30rem;
        width: 30rem;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid black;
        text-align: center;
    }
}

.tile{
    border: 1px solid bisque;
    padding: 1px;
}

.blank{
    
}
  