.arena{

    &__img,
    &__table{
        box-sizing: content-box;
        table-layout: fixed;
        height: 35rem;
        width: 35rem;
        //@include align-center;
        margin: 12em auto;
        //padding: 1rem;
        border: .4rem solid black;
        text-align:center;
        border-spacing: 0;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);

        background-size: cover;

        @include mQ(phone) {
            margin: 25em auto;
        }
    }
}

.tile{
    //border: 1px solid bisque;
    transition: all .3s linear;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: 35rem 35rem;

    span {
        mix-blend-mode:lighten;
        color: aliceblue;
        transition: all .3s ease;
    }
}

.zoom-animation{
    scale: 1.1;
    box-shadow: 1rem 1rem 2.5rem 1.2rem rgba(black, .85)
}
  