.row{
    display: flex;
    width: 100%;

    .col-1-of-2 {
        display: flex;
        flex: 50%;
    }

    .col-1-of-2-uneven-1{
        display: flex;
        flex: 10%;
    }
    .col-1-of-2-uneven-2{
        display: flex;
        flex: 80%;
    }

    .col-1-of-3-uneven-1,
    .col-1-of-3-uneven-3{
        display: flex;
        flex-direction: column;
        flex: 20%;
    }
    .col-1-of-3-uneven-2{
        display: flex;
        flex: 50%;
    }
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .row-1-of-2 {
        display: flex;
        flex: 50%;
    }
}